body, html {
    margin: 0;
    height: 100%;
    background-color: rgb(73, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 150px;
    font-weight: bolder;
    animation: fade_in 2.5s ease-in-out forwards;
}